<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="true"
  version="3.0"
>

<servlet>
    <servlet-name>sub</servlet-name>
    <servlet-class>br.com.caelum.chat.ChatServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>

<servlet>
    <servlet-name>noop</servlet-name>
    <servlet-class>br.com.caelum.chat.NoopServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
      
  <servlet-mapping>
    <servlet-name>noop</servlet-name>
    <url-pattern>/noop</url-pattern>
  </servlet-mapping>
      
  <servlet-mapping>
    <servlet-name>sub</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>

</web-app>

